<p>basic works!</p>
<!--
<tabset>
    <tab heading="calculatrice)">
       <app-calculatrice></app-calculatrice>
   </tab>
   <tab heading="calcul tva">
       <app-tva></app-tva>
    </tab>
</tabset>
-->
<bsu-toggle-panel title="calculatrice">
    <app-calculatrice></app-calculatrice>
</bsu-toggle-panel>
<hr/>
<bsu-toggle-panel title="tva">
    <app-tva></app-tva>
</bsu-toggle-panel>
<hr/>
<bsu-toggle-panel [title]="'divers'">
    <div>
        <app-reglette width="200" (changeEvent)="onChangeCurseur($event)"></app-reglette>
        curseur = {{valeurCurseur}}
    </div>
</bsu-toggle-panel>



<hr/>
     
<tabset>
        <tab heading="xy">
            <app-xy></app-xy>
       </tab>
       <tab heading="zz">
        <app-zz></app-zz>
        </tab>
</tabset>


