<p>basic works!</p>
<br/>
<!--
<tabset>
    <tab heading="calculatrice)">
       <app-calculatrice></app-calculatrice>
   </tab>
   <tab heading="calcul tva">
       <app-tva></app-tva>
    </tab>
</tabset>
-->
<a routerLink="/ngr-basic/calculatrice/simple" >calculatrice simple</a><br>
<a routerLink="/ngr-basic/calculatrice/sophistiquee" >calculatrice sophistiquee</a><br> 
<a routerLink="/ngr-basic/tva" >tva</a><br>

<router-outlet></router-outlet>
<!-- sera automatiquement remplacé par 
    les sous-sous-composant tva ou calcilatrice -->

<!--
<bsu-toggle-panel title="calculatrice">
    <app-calculatrice></app-calculatrice>
</bsu-toggle-panel>
<hr/>
<bsu-toggle-panel title="tva">
    <app-tva></app-tva>
</bsu-toggle-panel>
-->
<hr/>
<bsu-toggle-panel [title]="'divers'">
    <div>
        <app-reglette width="200" (changeEvent)="onChangeCurseur($event)"></app-reglette>
        curseur = {{valeurCurseur}}
    </div>
</bsu-toggle-panel>



<hr/>
     
<tabset>
        <tab heading="xy">
            <app-xy></app-xy>
       </tab>
       <tab heading="zz">
        <app-zz></app-zz>
        </tab>
</tabset>
<hr/>
<app-seuil></app-seuil>
<hr/>
<app-list-prod></app-list-prod>


