<ng-template #content >
        <div class="modal-header bg-secondary">
          <h4 class="modal-title text-white">{{title}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" [innerHTML]="innerHtmlText">
          
        </div>
</ng-template>

<!-- exemple utilisation : 

<button class="btn btn-lg btn-outline-primary" 
        (click)="m1.openThisContext()">Launch  modal 1</button>
<bsu-modal [title]="'my modal title'" #m1
           [innerHtmlText]="'<b>123</b> <i>abc</i>'"></bsu-modal>

-->