<h3>calcul(s)</h3>
<a href="addition?a=5&b=6">5+6</a><br/>
...
<form method="GET" action="addition">
a: <input name="a" value="2" /> <br/>
b: <input name="b" value="3" /> <br/>
<input type='submit' value="addition">
</form>