<p class="entete"
   [style.background-color]="preferencesService.couleurFondPreferee"
    >header - <span id="appHeaderTitle">{{titre | uppercase}}</span> &nbsp;
    <a routerLink='/ngr-welcome'> welcome</a> &nbsp;
    <a routerLink='/ngr-basic'> basic</a> &nbsp;
    <a routerLink='/ngr-login'> login</a> &nbsp;
    <a routerLink='/ngr-conversion'> conversion</a> &nbsp;
    <a routerLink='/ngr-admin-devise'> admin-devise</a> &nbsp;
</p>
<bsu-nav-bar  [brandTitle]="titre"
              [menuDefs]="myMenuDefs"></bsu-nav-bar>

