<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
    {{{body}}}
    <hr/>
    <a href="/server-home" >server-home page</a> <br/>
    <!-- <a href="/html/index.html" >(main) index.html</a> -->
</body>
</html>